* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #f2f4f4;
}

.App {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#parent {
  min-width: 800px;
  min-height: 500px;
  background: #17202a;
  border-radius: 12px;
  position: relative;
}

/* Card */
.draggable {
  position: absolute;
  object-fit: cover;
}
